
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<font color="#FF0040">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Nicoleta Radu</title>

<link href="{{ asset('bundles/niconicohello/css/style.css') }}" rel="stylesheet" type="text/css"/>
</head>

<body>


    <td><h1 align="center">Bine ati venit!</h1></td></font>
  
    <td><h2 color="red"align="center">Aici puteti gasi informatii despre mine</h2></td>

<td><center><div class="imgNico"></div></center></td>
<p>
<p>
<p>
<ul>
<LI><B><font color="#FF0040" size="2">NUME:&nbsp;</B></font>Nicoleta</LI></BR>
<LI><B><font color="#FF0040" size="2">PRENUME:&nbsp;</B></font>Radu</LI></BR>
<LI><B><font color="#FF0040" size="2">ADRESA:&nbsp;</B></font>Sebes, Judetul Alba</LI></BR>
<LI><B><font color="#FF0040" size="2">LIMBI STRAINE:&nbsp;</B></font>Engleza, Germana</LI></BR>
<LI><B><font color="#FF0040" size="2">STUDII:&nbsp;</B></font>
<ul>Scoala generala nr 2, Sebes
Colegiul National Lucian Blaga - Mate Info
Universitatea 1 Decembrie 1918 Alba Iulia - Informatica
Universitatea 1 Decembrie 1918 Alba Iulia - PABD
</ul></LI></BR>

<LI><B><font color="#FF0040" size="2">HOBBY:&nbsp;</B></font></LI></BR>
</ul>

<p align="justify">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mai jos puteti gasi un tabel cu cateva dintre filmele, artistii, cartile si emisiunile mele preferate.
		</p>
		<p align="justify">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pe langa acestea, mai am si alte hobby-uri, imi place foarte mult sa calatoresc, sa vizitez locuri vechi, medievale, imi plac tarile orientale, mancarea sanatoasa si sunt dependenta de ciocolata. Imi plac oamenii inteligenti, care au o anumita pasiune pentru ceva anume. Nu imi plac persoanele materialiste.
		</p>
  <table border="7" align="center" width="750" height="300" style="color:#FF6699">
<tr>

  <th><font color="#676666">&nbsp;Filme preferate&nbsp;</font></th>
  <th><font color="#676666">&nbsp;Artisti preferati&nbsp;</font></th>
  <th><font color="#676666">&nbsp;Carti preferate&nbsp;</font></th>
  <th><font color="#676666">&nbsp;Emisiuni preferate&nbsp;</font></th>
 
  
</tr>


<tr>
  <td><font color="#676666">The other woman</font></td>
  <td><font color="#676666">ATB</font></td>
  <td><font color="#676666">Steve Jobs - Secretele inovatiei</font></td>
  <td><font color="#676666">Masterchef</font></td>
  
</tr>

<tr>
  <td><font color="#676666">&nbsp;Godzilla&nbsp;</font></td>
  <td><font color="#676666">&nbsp;Armin van Buuren&nbsp;</font></td>
  <td><font color="#676666">&nbsp;Free Will - Sam Harris&nbsp;</font></td>
  <td><font color="#676666">&nbsp;Friends&nbsp;</font></td>

</tr>

<tr>
  <td><font color="#676666">&nbsp;Troy&nbsp;</font></td>
  <td><font color="#676666">&nbsp;Tiesti&nbsp;</font></td>
  <td><font color="#676666">&nbsp;Mircea Eliade - Maytrei&nbsp;</font></td>
  <td><font color="#676666">&nbsp;Single ladies&nbsp;</font></td>

</tr>

<tr>
  <td><font color="#676666">Transcendence</font></td>
  <td><font color="#676666">Lana del rey</font></td>
  <td><font color="#676666">Richard Dawkins</font></td>
  <td><font color="#676666">Reign</font></td>

</tr>

</table> 
 
		

</body>
</html>


